body {
  background-color: #380000;
  color: #f00;
  font-family: "Times New Roman", sans-serif;
}

div {
  border-top: 2px solid #f00;
  background-color: #000;
  text-align: justify;
}

h3 {
  margin: 5px;
}

.lore {
  border-top: 16px solid #830000;
  border-bottom: 16px solid #830000;
  margin: 5px;
}

.box_main {
  z-index: 0;
  position: fixed;
  width: 300px;
  height: 300px;
  top: 60px;
  left: 20%;
}

.box_head {
  position: relative;
  top: -300px;
  left: 0%;
  height:35px;
  width: 150px;
  z-index: -1;
}

.head_button_collapse {
}
