body {
  background-color: #380000;
  color: #f08;
  font-family: "Times New Roman", sans-serif;
  background-image: url("bloodbar2.gif");
}

div {
  border: 3px solid #f0f;
  background-color: #000;
  text-align: justify;
}

h3 {
  margin: 5px;
}

.lore {
  border-top: 16px solid #830038;
  border-bottom: 16px solid #830038;
  margin: 5px;
}

.box_main {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 20%;
  left: 20%;
}

.box_head {
  position: relative;
  top: -311px;
  left: 0%;
  height:35px;
  width: 150px;
  border: 2px solid #f0f;
  border-bottom: none;
}

.head_button_collapse {
  background-color: #000;
  color: #f0f;
  border: none;
}
