body {
  background-color: #380000;
  color: #f00;
  font-family: "Times New Roman", sans-serif;
}

div {
  border-top: 2px solid #f00;
  background-color: #000;
  padding: 5px;
  text-align: justify;
}

.lore {
  border-top: 16px solid #830000;
  border-bottom: 16px solid #830000;
}

.box_main {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 60px;
  left: 20%;
}
